@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-400-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-400-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-500-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-500-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-600-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-600-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-700-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("../assets/fonts/AktivGrotesk/AktivGrotesk-700-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
